[Unit]
Description=VpnCloud network '%I'
Before=systemd-user-sessions.service
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/opt/vpncloud --config /etc/vpncloud/%i.net --daemon --log-file /var/log/vpncloud-%i.log --pid-file /run/vpncloud-%i.run
WorkingDirectory=/etc/vpncloud
PIDFile=/run/vpncloud-%i.run

[Install]
WantedBy=multi-user.target
